# OSX
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android/IntelliJ
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React Native
.expo/
.expo-shared/

# Android
android/.gradle/
android/.idea/
android/app/build/
android/build/
android/local.properties
android/*.keystore

# iOS
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/*.xcodeproj/xcuserdata/
ios/*.xcuserdatad/

# BUCK
buck-out/
\.buckd/
*.keystore

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Env files
.env
.env.local
.env.development
.env.production

# Misc
*.log
*.swp
*.swo
*.tmp
*.idea
*.vscode
*.vs/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/
.nyc_output/

# Debug logs
*.log

# Expo
.expo/
.expo-shared/

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
ios/Pods
ios/Pods/**
**/Pods
**/Pods/**
/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
ios/.DS_Store
